.navbar-custom{
    background-color: #94e987;
}

.btn-outline-custom {
	--myPink: #fc49ab;
	position: relative;
	z-index: 1;
	background: var(--myPink);
	border: 3px solid;
	border-color: var(--myPink-400);
	border-radius: 0.10 rem;
	color: var(--myPink-300);
	padding: 0.75rem 1rem;
	text-decoration: none;
	transition: 250ms ease-in-out;
	transition-property: all;	  
}

body {
    background-color: #1b1e21;
	z-index: 0;
}

.container-fluid {
	padding-top: 30px;
	width: 100vw;
    display: flex;
	position: relative;
    justify-content: center;
	align-items: center;
	align-content: center;
	z-index: 50;
}

#tblBingo {
    text-align: center;
    font-size: 18pt;
    cursor: pointer;
	color: #5fe8ff;
	height: 70vh;
	background-color: #1b1e21;
	width: 80%;
}

#tblBingo td {
    padding: 0.3rem;
 }

 .cell-format {
    height: 100%;
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
    align-items: center;
    border-radius: 10%;
    border: 5px solid #e7284e;
	background-color: #181818;
}

.cell-format:hover {
    background-color: white;
	color: black;
}

.strickout {
    text-decoration: line-through;
	text-decoration: #5fe8ff double line-through;
    color: #fc49ab;
	text-shadow:
	0 0 7px #fff,
	0 0 10px #fff,
	0 0 21px #fff,
	0 0 42px #fc49ab,
	0 0 82px #fc49ab,
	0 0 92px #fc49ab,
	0 0 102px #fc49ab,
	0 0 151px #fc49ab;
    font-size: 18pt;
    pointer-events: none;
}

.show-bingo {
    display: inline;
}

/* for the alert */
.win-alert {
	display: none;
}

.view-win-alert {
	position: absolute;
	right: 10px;
	top: 25px;
	margin-top: 45px;
	width: 25%;
	z-index: 99;
}

.welcome {
	color: black;
	font-size: x-large;
}
